$white:    #fff;
$gray-100: #b2bfcc;
$gray-200: #565d64;
$gray-300: #74ade7;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #33383d;
$gray-800: #536678;
$gray-900: #576c81;
$black:    #000;

$blue:    #2f3846;
$indigo:  #7a6e8d;
$purple:  #594c71;
$pink:    #e37baf92;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #6a778e;
$teal:    #97842e;
$cyan:    #41212b;

